<p>
<strong>Email:</strong>
  <%= @ponumber.email %>
</p>

<p>
<strong>Amount:</strong>
  <%= @ponumber.amount %>
</p>
<p>
<strong>Project:</strong>
  <%= @ponumber.project %>
</p>
<strong>PO:</strong>
  <%= @ponumber.po %>
</p>